.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-container {
  position: relative;
  font-size: 0px;
}


.map-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.map-overlay-tile {
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin: 0px;
  padding: 0;
  font-size: 10vmin;
  line-height: 0;
  margin-top: 0px;
  height:40vmin;
  width: 40vmin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}
